<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shotta Share.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Shotta-Share.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Shotta-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A4EA5DA1F4C79FB00E61224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A4EA5EE1F4C79FB00E61224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A4EA5F91F4C79FB00E61224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A9670D51F4C8D21008947D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A9670EB1F4C9662008947D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A9670FD1F4C9687008947D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
